{% extends 'Articles/basePage.html' %}

{% block content %}

  <div id="templatemo_main">
    {% for em in posts %}
    <div class="post_section">

        <span class="comment"><a href="#">128</a></span>
            
        <h2><a href="#">{{ em.title }}</a></h2>
        {{ em.time_update }} | <strong>Author:</strong> John | <strong>Category:</strong> <a href="#">Freebies</a>
        <img src="images/templatemo_image_01.jpg" alt="image 1" />
        <p>{{ em.content|linebreaks|truncatewords:50 }}</p>
        <a href="{{ em.get_absolute_url }}">Продолжить чтение...</a>

    </div>
       {% endfor %}

  </div>

{% endblock %}