{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% elif post.title %}
    <title>Статья: {{ post.title }}</title>
    {% elif cat %}
    <title>Категория: {{ cat.title }}</title>
    {% else %}
    <title>АвтоБлог</title>
    {% endif %}

    <link href="{% static 'Articles/css/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'Articles/css/css_page.css' %}" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">

        <ul>
            {% if title == 'Главная' %}
            <li><a href="{% url 'MainPage' %}" class="current">Главная</a></li>
            {% else %}
            <li><a href="{% url 'MainPage' %}">Главная</a></li>
            {% endif %}
            {% if title == 'Добавить' %}
            <li><a href="{% url 'AddPage' %}" class="current">Добавить</a></li>
            {% else %}
            <li><a href="{% url 'AddPage' %}">Добавить</a></li>
            {% endif %}
            {% if title == 'Обратная связь' %}
            <li><a href="{% url 'FeedbackPage' %}" class="current">Обратная связь</a></li>
            {% else %}
            <li><a href="{% url 'FeedbackPage' %}">Обратная связь</a></li>
            {% endif %}
            {% if title == 'О нас' %}
            <li><a href="{% url 'AboutPage' %}" class="current">О нас</a></li>
            {% else %}
            <li><a href="{% url 'AboutPage' %}">О нас</a></li>
            {% endif %}
            <li><a href="#">Войти</a></li>
        </ul>

    </div> <!-- end of templatemo_menu -->

    <div id="templatemo_left_column">

        <div id="templatemo_header">

            <div id="site_title">
                <h1><a href="{% url 'MainPage' %}" target="_parent">Авто<strong>Блог</strong></a></h1>
            </div><!-- end of site_title -->

        </div> <!-- end of header -->

        <div id="templatemo_sidebar">

            <div id="templatemo_rss">

                <a href="https://github.com/igor-zaitsau" target="_blank">ПОСМОТРИ <br /><span>Мой GitHub:)</span></a>

            </div>
            {% if categories %}
            <h4>Статьи по марке авто:</h4>
            {% endif %}
            {% for item in categories %}
            {% if item.slug == slug_selected %}
            <ul class="templatemo_list">
                <li><b>{{ item.title }}</b></li>
            </ul>
            {% else %}
            <ul class="templatemo_list">
                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
            </ul>
            {% endif %}
            {% endfor %}




        </div> <!-- end of templatemo_sidebar -->

    </div> <!-- end of templatemo_left_column -->

    <div id="templatemo_right_column">

     {% block content %}

    {% endblock %}


<div class="cleaner"></div>
  </div>
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>

  	<div id="templatemo_footer">
        2022 | Belarus, Gomel | Igor Zaitsev | i.zaitsev.programmer@mail.ru
    </div>

    <div class="cleaner"></div>

</div>
</body>
</html>